.labelDiv {
    display: flex;
    flex-direction: row;
    justify-items: right;
    gap: 20px;
}

.labelTextDiv {
    margin: auto;
}

label {
    float: left;
    clear: left;
    text-align: right;
    padding: 0;
}

